[build]
builder = "NIXPACKS"
buildCommand = "npm run build"
nixpacksConfigPath = "nixpacks.toml"

[deploy]
startCommand = "npm run start"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
healthcheckPath = "/"
healthcheckTimeout = 300
